#map
{
    width: 100%;
    height: 100%;
}
.leaflet-layerstree-closed {display: none;}
.leaflet-layerstree-opened {display: none;}
.leaflet-buttons-control-text {display: none;}
.leaflet-buttons-control-img {
    width: 8%;
    height: 8%;
}
span.leaflet-styleeditor-input-span {display: none;}
.leaflet-styleeditor-stroke {display: none;}
.leaflet-styleeditor-colorpicker {display: none;}
input.leaflet-styleeditor-input {display: none;}